<div class="row">
  <div class="large-12 columns">
  <center><h3><%= @drink.name %></h3></center>
  <center><p><% @drink.ingredients.each do |i| %>
    | <%= i.name %> |
  <% end %></p></center>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <a href="#" class="large button expand">Drink</a>
  </div>
</div>
