<div class="row">
  <div class="large-12 columns">
  <center><h2><%= @drink.name %></h2></center>
  <center><p>| <% @drink.ingredients.each do |i| %>
    <%= i.name %> |
  <% end %></p></center>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <footer><%= link_to 'Drink', root_url, class: "large button expand" %></footer>

  </div>
</div>
