<div ng-controller="DrinkCtrl">
<div class="row">
  <div class="large-12 columns">
  <center><h2>{{drinks.name}}</h2></center>
  <center><%= image_tag 'Gibson-cocktail.png', class: "drinkimage" %></center><br />
  <center><span ng-repeat="drink in drinks.ingredients">|{{drink.name}}| </span></center>
  </div>
</div>
<br />
<div class="row">
  <div class="large-12 columns">
    <center><button ng-click="newDrink()">Drink!</button> </center>
  </div>
</div>
</div>
